<form>
    <h1>Apagando um veiculo</h1>

    <mat-form-field class="form">
        <mat-label>Placa</mat-label>
        <input matInput [(ngModel)]="veiculo.placa" placeholder="Ex. GMHOH36..." name='placa' disabled>
      </mat-form-field>
    
      <mat-form-field class="form">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="veiculo.modelo" placeholder="Ex. Fusca..." name='modelo' disabled>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Cor</mat-label>
        <input matInput [(ngModel)]="veiculo.cor" placeholder="Ex. Fusca..." name='cor' disabled>
      </mat-form-field>



    <div class="buttons">
        <button (click)="delete()" class="deletar mat-elevation-z8" mat-stroked-button>Apagar</button>

        <button (click)="cancel()" class="cancelar mat-elevation-z8" mat-stroked-button >Cancelar</button>
    </div>
</form>